
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SampleViewData</title>
</head>
<body>
    <h1>Passing Data using a ViewData Example</h1>

    <div> 
        @ViewData["Message"]
    </div>
</body>
</html>
